.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  position: center;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.bg-colour {
  background-color: #ffd700 !important;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2d9cdb;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: #56ccf2;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #2d9cdb;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 150px;
  width: 200px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
  position: absolute;
  bottom: 37px;
  left: 30px;
  font-size: 18px;

}

.shop-item-button1 {
  position: absolute;
  bottom: 30px;
  right: 30px;

}

.shop-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.category {
  display: flex;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.7rem;
  margin-top: 25px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  background-color: white;
  padding: 40px;
  gap: 20px;
  justify-content: space-evenly;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.3em;
}

/* asim  */
.shop-item-title1 {
  display: block;
  /* background-color: red; */
  width: 100%;
  text-align: left !important;
  font-size: 1.2em;
  font-weight: 600;

  color: #333;
  margin-bottom: 15px;
}

.shop-item-details1 {
  /* display: flex; */
  align-items: center;
  padding: 5px;
  margin: 10px 10px;
}

.nav-link:hover {
  background-color: white;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  flex: 1;
  padding: 25px;
}

.logo-text {
  font-size: 30px;
  font-weight: 600;
}

.contact {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

.footer-distributed {
  background: gold;
  box-shadow: 0 1px 1px 0 goldenrod;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px;
  padding: 20px 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

@media (max-width: 600px) {
  .footer-distributed .footer-left {
    width: 100%;
  }
}

/* The company logo */

.footer-distributed h3 {
  color: #222;
  font-size: 36px;
  margin: 0;
}

.footer-distributed h3 span {
  color: blue;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #222;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

@media (max-width: 600px) {
  .footer-distributed .footer-center {
    width: 100%;
    margin: 2rem 0;
  }
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #222;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  font-size: 14px;
  color: #222;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #141fec;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #222;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #222;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #222;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.grid-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  width: 280px;
  height: 350px;
  position: relative;
}

h2 {
  font-weight: 500;
}

h1 {
  font-weight: 700;
}


.content-section {
  background-color: rgb(251, 251, 251);
}

@media only screen and (max-width: 600px) {
  .category {
    justify-content: center;
  }
}

.navbar-brand {
  margin: -1rem;
}